<div class="container">
  <h2 class="center pink-text text-darken-4">Cadastro de Usuário</h2>

  <div class="row">
    <mat-form-field class="col s8">
      <input matInput [(ngModel)]="usuario.nome" type="text" placeholder="Nome">
    </mat-form-field>

    <mat-form-field class="col s4">
      <input matInput [matDatepicker]="picker" [(ngModel)]="usuario.dataNascimento" placeholder="Data de Nascimento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col s6">
      <input matInput [(ngModel)]="usuario.email" placeholder="Email" name="email" type="email">
    </mat-form-field>

    <mat-form-field class="col s6">
      <input matInput [(ngModel)]="usuario.senha" placeholder="Senha" name="senha" type="password">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col s10">
      <input matInput [(ngModel)]="usuario.profissao" placeholder="Profissão" name="profissao" type="text">
    </mat-form-field>
    
    <mat-checkbox [(ngModel)]="usuario.dadosPublicos" name="dadosPublicos">Dados Públicos</mat-checkbox>
  </div>

  <button class="btn waves-effect waves-light right pink darken-4" type="submit" (click)="cadastrarUsuario()">Cadastrar
    <i class="material-icons right">send</i>
  </button>
</div>